header {
  position: fixed; /*hace que nuestro menu se quede fijo*/
  background-color: #FF390E;
  width: 100%;
  top:0;
  left:0;
}

li{
  display:inline-block;
  list-style: none;
  float:left;
  margin-bottom:10px;
}

a{
  color: whitesmoke;
  text-decoration: none;
  padding: 10px;
}

a:hover {
  color:black;
}
